body{
    background-color: pink;
}

button{
    font-size: larger;
    color: rgb(83, 29, 148);
    background-color: hotpink;
}

h1{
    text-align: center;
}
column{
    flex: 33.33%;
    padding: 5px;
}
row{
    display: flex;
}